@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Viaoda+Libre&display=swap');

body {
    font-family: sans-serif;
    /* background-color: #111d4a; */
    background-image: url(img/bg.jpg);
    background-position: top right;
    background-size: cover;
    color: #f9f8ff;   
    width: 100vw;
    min-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Viaoda Libre', cursive;
    line-height: 1.6em;
    font-weight: bold;
    overflow-X: hidden;
    overflow-Y: scroll;
}

* {
    box-sizing: border-box;
    margin: 0;
}

#color-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(6, 9, 190, 0.8);
        opacity: .6;
        z-index: -99;
    
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Aclonica', sans-serif;
    margin-top: 2em;
    margin-bottom: 2em;
    flex-flow: 1 2 auto;
}

h1 {
    color: rgba(255, 166, 0, 1);
    font-size: 5em;
    line-height: .8em;
    margin-top: .2em;
    margin-bottom: .5em;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    width: 70%;
    min-width: 300px;
    height: auto;
    flex-flow: 1 1 600px;
    font-family: 'Viaoda Libre', cursive;
    margin-bottom: 1em;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-flow: 1 2 auto;
}

.btn {
    padding: .5em 1em;
    border: 3px solid #f9f8ff;
    background: rgba(255, 166, 0, .9);
    color: #f9f8ff;
    min-width: 250px;
    font-family: 'Viaoda Libre', cursive;
    font-size: 1.2em;
    font-weight: bold;
}

.btn:hover,
.btn:focus {
    background: rgba(255, 166, 0, 1);
    cursor: pointer;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group input {
    padding: .5em 1em;
    min-width: 250px;
    font-family: 'Viaoda Libre', cursive;
    font-size: 1.2em;
    font-weight: bold;
    border: 3px solid #f9f8ff;
    background: rgba(255, 166, 0, .9);
    color: white;
}

.form-group input:hover, 
.form-group input:focus {
    background: rgba(255, 166, 0, 1);           
    }

.joke-area {
    background: #f9f8ff;
    color: #132361;
    padding: 2em;
    width: 70%;
    min-width: 300px;
    min-height: 200px;
    height: 400px;
    overflow: scroll;
    font-size: 1.4em;
    list-style-type: none;
    text-align: center;
}

.joke-area li {
    padding-block: 1em;
}

/* media queries */

@media screen and (max-width: 990px) {
    .btn-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .btn, .form-group {
        margin-bottom: 2em;
    }

    .title {
        font-size: .8em;
    }
}

@media screen and (max-width: 500px) {


    .title {
        font-size: .6em;
    }

    
}